.search-panel{
    display: flex;
    justify-content: center;
    background: url('./a-young-woman-is-meditating-on-the-top-of-a-mountain-where-she-is-facing-another-mountain-where-the-buddha-statue-in-sitting-position-on-the-peak-of-the-mountain-vector.jpg');
    background-size: cover;
    height: 121vh;
    background-color: saddlebrown;
    background-blend-mode: overlay;
}
.comonk {
    margin: 13rem;
    text-align: center;
}
.comonk .logo{
    color: #fff;
    font-size: 6rem;
    display: grid;
}
.postBody-src{
    position: absolute;
    top: 60%;
    height: 50vh;
    overflow-y: auto;
}
.postBody-src::-webkit-scrollbar{
    display: none;
}
.postBody-src section{
    margin: 1rem;
}
.comonk .logo p{
    color: #fff;
    font-size: 1rem;
    margin:-2rem 0rem 2rem;
}
.search-bar{
    width: 100%;
    border-radius: 3rem;
    padding: 0.7rem 2rem;
    margin: auto;
    border:none;
}
.input{
    margin: -2rem;
    display: flex;
}
.search-btn{
    margin-left: -2rem;
    border: none;
    height: -1rem;
    border-radius: 0rem 1rem 1rem 0rem;
    background: darkred;
    color: #fff;
}
.search-btn:hover{
    background: #000;
    cursor: pointer;
}
@media screen and (max-width:880px) {
    .search-panel{
        transition: 0.6s;
    }
    .search-bar{
        transition: 0.4s;
        width: auto;
        border-radius: 3rem;
        padding: 0.7rem 2rem;
        margin: auto;
        border:none;
    }
    .comonk{
        margin: 13rem auto;
    }
    .comonk .logo{
        color: #fff;
        font-size: 4rem;
        
    } 
    .comonk .logo p{
        color: #fff;
        font-size: 0.8rem;
        margin-top: -1rem;
        
    }  
}
@media screen and (max-width:375px) {
    .search-panel{
        overflow: hidden;
    }
    .comonk .logo{
        color: #fff;
        font-size: 3.4rem;
        
    } 
    .comonk .logo p{
        color: #fff;
        font-size: 0.5rem;
        margin-top: -1rem;
        
    }    
}