.about{
    background: url('/public/assets/comonk\ orange\ background.png');
    height: 54vh;
    background-position: center;
    background-attachment: fixed;
}
.about img{
    height: 83vh;
    width: 100%;
}
h1{
    top: 5rem;
    position: absolute;
    font-size: 6rem;
    color: #fff;
    padding: 1rem;
    /* display: flex; */
    display: block;
    margin: auto;
    width: 97%;
}
.ab-main p{
    text-align: justify;
    padding: 2rem 14rem;
}
.container-box{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}
.container-box .mem-box .img{

      
        
}
.container-box .mem-box{ 
       text-align: justify;
    margin: 0rem 4rem;

    border-radius: 1rem;
    
    background: orangered;
}
.container-box .info{
    color:#fff;
    margin: 1rem 2rem 0rem -1rem;
    padding: rem;
}
.container-box .mem-box img{
    height: 50vh;
    border-radius: 1rem 1rem 0rem 0rem;
}